html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #343a40; /* Dark background color to match the navbar */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.about, .projects, .contact {
    max-width: 800px;
    margin: auto;
}

.project {
    margin: 15px 0;
}

footer {
    background-color: #343a40; /* Dark background color */
    color: white; /* White text color */
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 2rem; /* Set font size to 2rem */
    color: white !important; /* Make the font color white */
}

.nav-link {
    font-size: 1.5rem;
    color: white !important; /* Make the font color white */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

.nav-link:hover {
    color: #ffcc00 !important; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge the link on hover */
}

.nav-item {
    margin-right: 15px; /* Add space between the nav items */
}

#about h2, #resume h2 {
    font-size: 2.5rem; /* Set font size to 2.5rem */
    font-weight: bold; /* Make the font bold */
}

#about p {
    font-size: 1.2rem; /* Set font size to 1.2rem */
}

#resume h3 {
    font-size: 1.8rem; /* Set font size to 1.8rem */
    font-weight: bold; /* Make the font bold */
}

#resume h4 {
    font-size: 1.5rem; /* Set font size to 1.5rem */
    font-weight: bold; /* Make the font bold */
    padding: 20px;
}

#resume ul li {
    font-size: 1.1rem; /* Set font size to 1.2rem */
    margin-left: 50px; /* Add left margin to the list items */
}

.avatar {
    width: 150px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
    border-radius: 50%; /* Make the image circular */
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin at the bottom */
}

@media (max-width: 600px) {
    header, footer {
        padding: 5px 0;
    }

    section {
        padding: 15px;
    }
}